/* Universal style */
*{
margin:0;
padding: 0;
}

/* First section */
.firstSection{
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    height: 550px;
    width: auto;
    position: relative;
}

.overlayTextDiv{
background-color: black;
display: flex;
justify-content: flex-start;
align-items: center;
height: 550px;
width: 360px;
}


.overlayTextDiv p{
    text-transform: uppercase;
font-style: normal;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 900;
width: auto;

}

.Modren{
/* To overlay*/
position: absolute;
top: 110px;
left: 17.5%;

font-size: 56px;
margin: 0 auto;
/* Gradient*/
width: fit-content;
color: transparent;
text-shadow: 0 0 0 #33333333;
background-clip: text;
background: linear-gradient(to right, white 90%, black 10%);
-webkit-background-clip: text;

overflow: visible;

}

.Gallery{
    /* To overlay*/
position: absolute;
top: 170px;
left: 17.5%;

height: 10%;
font-size: 56px;
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    /* Gradient*/
width: min-content;
color: transparent;
text-shadow: 0 0 0 #33333333;
background: linear-gradient(to right, white 60%, black 40%);
-webkit-background-clip: text;
}

/* Second div*/
img{
    width: auto;
height: 550px;

}

/* Third div*/
.whitediv{
background-color: rgb(255, 255, 255);
display: flex;
justify-content: center;
align-items: center;
width: auto;
height: 550px;
}

.whitediv p{
    width: 250px;
    height: 110px;
        /* To overlay*/
position: absolute;
left: 93.5%;
top: 120px;

font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
margin-top: 3px;

}

/* Our Location Button*/

.LocationButtons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
            /* To overlay*/
position: absolute;
left: 93.5%;
top: 85px;

margin-top: 210px;
width: 250px;
height: 50px;
}

.blackarea .Blackareabutton{
    width: 220px;
    height: 50px;
    background-color: black;
margin: 0 auto;
border: none;

}

.blackarea .Blackareabutton:hover{
    background-color: peru;
    transform: translateY(2px);
}

.blackarea .Blackareabutton:hover::after .peachareabutton{
    background-color: rgb(0, 0, 0);
}

.blackarea p{
color: white;
display: block;
justify-content: center;
    text-align: center;
   text-transform: uppercase;
   font-size: 16px;
    margin: 15px auto;
}

.peacharea .peachareabutton{
    width: 30px;
    height: 50px;
    background-color: peru;
    border: none;
    margin: 0;


}

.peacharea img{
    display: block;
    justify-content: center;
        align-items: center;
    width: 15px;
    height: 15px;
    margin: 0 auto;
}

.peacharea .peachareabutton:hover{
    background-color: rgb(0, 0, 0);
    transform: translateY(2px);
}

.peacharea .peachareabutton:hover .Blackareabutton{
    background-color: peru;
}

/* Second Section */

.secondSection{
   
        height: 1500px;
        width: auto;
margin: 150px 75px 150px 75px;
position: relative;
border: 1px red solid;
}

.yourDay{
    display: inline-flex;
    justify-content: center;
        text-align: center;
        width: 100%;
        height: 580px;
    position: relative;

}

.yourDay .yourDayText{
    float: left;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    height: 580px;
    font-family:  sans-serif;
    margin: 0 auto;

}

.yourDay .yourDayText h2{
font-size: 50px;
text-transform: uppercase;
margin-top: 200px;
font-weight: 900;
float: left;
line-height: 1;
text-align: left;
padding-right: 150px;


}

.yourDay .yourDayText p{
font-size: 30px;
margin-top: 10px;
float: left;
text-align: left;


}

.yourDay .yourDayImg{
float: right;
width: 50%;
    height: 580px;


}

.yourDay .yourDayImg img{
    width: 100%;
    height: 580px;
    margin-right: 0;
    float: right;
}

.inspiration{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: 950px;
    font-size: 6px;
    margin-top: 20px;
    position: relative;
}

.inspiration .one{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 905px;
    margin-right: 10px;
    position: relative;

}

.inspiration .one img{
    width: 100%;
    height: 905px;
    float: left;
    margin: 0;
    padding: 0;
}

.inspiration .two{
    width: auto;
    height: 905px;
    float: left;
    margin-left: 15px;
    position: relative;


    display: block;
    justify-content: flex-end;
    align-items: center;

}

.inspiration .subtwo{
height: 425px;
width: 100%;
margin-bottom: 50px;
position: relative;

}

.inspiration .subtwo img{
    width: 100%;
    height: 425px;
float: right;


}

.inspiration .anothersubtwo{
background-color: rgb(0, 0, 0);
height: 425px;
width: 100%;
margin-top: 30px;
color: white;

display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-direction: column;
}

.inspiration .anothersubtwo h2{
text-transform: uppercase;
margin-top: 50px;
margin-left: 50px;
font-family: 'Arial Narrow Bold', sans-serif;

width: 500px;
height: 180px;
font-size: 80px;
float: left;

}

.inspiration .anothersubtwo p{
    margin-top: 20px;
margin-left: 50px;

width: 500px;
height: 150px;
float: left;
font-size: 28px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* Footer Section */

footer{
    background-color: rgb(0, 0, 0);
       padding: 0;
       display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        width: auto;
    position: relative;

    }
    
    .one{
    margin-top: 10px;
    margin-right: auto;
    align-items: center;
    margin-left: 60px;
    }
    
    .one img{
    width: 205px;
    height:65px;
    }
    
    .two{
        display: block;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    margin-left: 20px;
    margin-right: auto;
    color: rgb(255, 255, 255);
    }
    
    .two p{
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    
    .three{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:200px;
        height: 40px;
    margin-left: 50px;
    }
    
    .three img{
        margin-top: 4px;
        align-items: center;
        width: 35px;
        height: 35px;
    
        margin-right: 20px;
        filter: invert(0); 
    }
    
    .three img:hover{
        background-color: peru;
        filter: invert(color);
    }

/* Use a media query to add a break point at 800px: */
@media screen and (width:800px) {
    .firstSection, .secondSection,.inspiration {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }